[submodule "scipion-em-chimera"]
	path = scipion-em-chimera
	url = https://github.com/scipion-em/scipion-em-chimera
[submodule "scipion-em-cistem"]
	path = scipion-em-cistem
	url = https://github.com/scipion-em/scipion-em-cistem
[submodule "scipion-em-cryoef"]
	path = scipion-em-cryoef
	url = https://github.com/scipion-em/scipion-em-cryoef
[submodule "scipion-em-eman2"]
	path = scipion-em-eman2
	url = https://github.com/scipion-em/scipion-em-eman2
[submodule "scipion-em-empiar"]
	path = scipion-em-empiar
	url = https://github.com/scipion-em/scipion-em-empiar
[submodule "scipion-em-gautomatch"]
	path = scipion-em-gautomatch
	url = https://github.com/scipion-em/scipion-em-gautomatch
[submodule "scipion-em-gctf"]
	path = scipion-em-gctf
	url = https://github.com/scipion-em/scipion-em-gctf
[submodule "scipion-em-imagic"]
	path = scipion-em-imagic
	url = https://github.com/scipion-em/scipion-em-imagic
[submodule "scipion-em-localrec"]
	path = scipion-em-localrec
	url = https://github.com/scipion-em/scipion-em-localrec.git
[submodule "scipion-em-loscale"]
	path = scipion-em-locscale
	url = https://github.com/scipion-em/scipion-em-locscale
[submodule "scipion-em-motioncorr"]
	path = scipion-em-motioncorr
	url = https://github.com/scipion-em/scipion-em-motioncorr
[submodule "scipion-em-relion"]
	path = scipion-em-relion
	url = https://github.com/scipion-em/scipion-em-relion
[submodule "scipion-em-resmap"]
	path = scipion-em-resmap
	url = https://github.com/scipion-em/scipion-em-resmap
[submodule "scipion-em-sphire"]
	path = scipion-em-sphire
	url = https://github.com/scipion-em/scipion-em-sphire
[submodule "scipion-em-spider"]
	path = scipion-em-spider
	url = https://github.com/scipion-em/scipion-em-spider
[submodule "scipion-em-topaz"]
	path = scipion-em-topaz
	url = https://github.com/scipion-em/scipion-em-topaz
[submodule "scipion-em-tomo"]
	path = scipion-em-tomo
	url = https://github.com/scipion-em/scipion-em-tomo
[submodule "scipion-em-cryosparc2"]
	path = scipion-em-cryosparc2
	url = https://github.com/scipion-em/scipion-em-cryosparc2
[submodule "scipion-em-atlas"]
	path = scipion-em-atlas
	url = https://github.com/scipion-em/scipion-em-atlas
[submodule "scipion-em-fsc3d"]
	path = scipion-em-fsc3d
	url = https://github.com/scipion-em/scipion-em-fsc3d
[submodule "scipion-em-sidesplitter"]
	path = scipion-em-sidesplitter
	url = https://github.com/scipion-em/scipion-em-sidesplitter
